<!-- Top Header -->
<header class="topbar text-white" id="topbar">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-8">
              <p class="topbar-intro">Enjoy your favourite movie, TV show &amp; video in a single subscription at $60</p>
          </div>
          <div class="col-lg-6 col-sm-4">
              <div class="topbar-right-btns">
                  <a class="btn" routerLink="/login">Log In</a>
                  <a class="btn"  routerLink="/register">Register</a>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Top Header End -->

<!-- Main Header -->
<nav class="navbar navbar-default">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header col-sm-2">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/home" >
              <img src="assets/img/logo.png" alt="Site Logo" class="img-responsive ">
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-nav-collapse">
          <form class="navbar-form navbar-left">
              
              <input type="search" name="searchinput" required>
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/upcomingEvent">Upcoming Events</a></li>
              <li><a routerLink="/catchUp">Catchup</a></li>
              <li><a routerLink="/live">Live</a></li>
              <li><a routerLink="/about" >About</a></li>


              <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Main Header End -->
